docs/build/.cmake
docs/build/CMakeFiles
docs/build/generators
docs/build/squade_illustrations.dir
docs/build/x64
docs/build/ALL_BUILD.vcxproj
docs/build/ALL_BUILD.vcxproj.filters
docs/build/cmake_install.cmake
docs/build/CMakeCache.txt
docs/build/squade_illustrations.sln
docs/build/squade_illustrations.vcxproj
docs/build/squade_illustrations.vcxproj.filters
docs/build/ZERO_CHECK.vcxproj
docs/build/ZERO_CHECK.vcxproj.filters

README.md
.vscode